@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
    .route-info__desc {
        max-width: 350px;
    }
    .route-maps-img {
        top: 670px;
    }
    .route-info__plan-list {
        max-width: 550px;
    }
    .about-list__name {
        font-size: 18px;
    }
    .about-credits {
        font-size: 16px;
        max-width: 85%;
    }
    .header-info {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .header-info__date {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        max-width: 100%;
        width: 100%;
        margin-bottom: 40px;
    }
    .header-info__city {
        max-width: 413px;
    }
    .header-info__city:first-of-type {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    .header-info__city:last-of-type {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }
    .header-info__img_left {
        -webkit-mask-position: -48px bottom;
                mask-position: -48px bottom;
    }
    .header {
        background-position-x: 49%;
        background-size: cover;
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .route-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
                margin-bottom: 420px;
    }
    .route-info__plan-list {
        max-width: 100%;
        top: 0;
    }
    .route-info__desc {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .route-maps-img {
        top: 970px
    }
    .events-cities-list {
        height: auto;
    }
    .events-cities-list__item {
        max-width: 100%;
    }
    .about-list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-pack: distribute;
            -webkit-box-pack: justify;
                    justify-content: space-between;
    }
    .about-list__item {
        max-width: 45%;
    }
    .about-list__item:first-child {
        max-width: 80%;
        margin-bottom: 40px;
    }
    .about-list__title-wrap {
        margin: 0 auto;
    }
    .about-credits {
        max-width: 100%;
    }
    .header-info__city {
        max-width: 340px;
    }
    .header-info__img {
        height: 210px;
    }
    .header-info__img_left {
        -webkit-mask-position: -105px bottom;
                mask-position: -105px bottom;
    }
    .header-info__city-name_left {
        margin-left: 0;
    }
    .header-info__city-name_right {
        margin-left: auto;
        margin-right: 0;
        text-align: right;
    }
    .header-credits {
        margin-top: 40px;
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        max-width: 100%;
    }
    .header-partners-wrap {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 530px;
    }
    .participation-list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .participation-list__item {
        max-width: 100%;
        margin-top: 25px;
    }
    .section-title {
        font-size: 28px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .about-list__item {
        max-width: 100%;
        margin-bottom: 40px;
    }
    .about-credits {
        font-size: 14px;
        padding: 15px 15px 15px 20%;
    }
    .route-maps-img {
        top: 1200px;
    }
    .header-info__img {
        -webkit-mask: none;
                mask: none;
        border: 3px solid #fecd1c;
    }
    .header-info__img:before, .header-info__img:after {
        display: none;
    }
    .header-info__city {
        max-width: 46%;
    }
    .header-info__city-name {
        display: block;
        text-align: center;
        max-width: 100%;
    }
    .header-credits {
        margin-bottom: 45px;
        font-size: 25px;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .header-info__city-name {
        font-size: 20px;
    }
    .header-info__img {
        height: 150px;
    }
    .header-info__year {
        display: block;
        margin-top: 10px;
    }
    .header-partners-wrap {
        margin-top: 50px;
    }
    .header-partners {
        max-width: 45%;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    .header-partners span {
        margin-left: 0;
        margin-right: 0;
    }
    .header-partners__list {
        -webkit-mask-image: none;
                mask-image: none;
        height: auto;
        padding: 20px;
    }
    .header-partners__list:before {
        display: none;
    }
    .header {
        background: #000 url('../img/header-bg-mobile.jpg') no-repeat center center / cover; 
        padding-top: 65px;
    }
    .section-title-wrap {
        padding-left: 45px;
        padding-right: 50px !important;
    }
    .footer-desc {
        max-width: 100%;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
    .section-title:after {
        height: 90px;
        -webkit-transform: rotate(-45deg) translate(60px, 33px);
            -ms-transform: rotate(-45deg) translate(60px, 33px);
                transform: rotate(-45deg) translate(60px, 33px);
    }
    .section-title {
        font-size: 22px;
    }
    .section-title-wrap_low {
        padding: 15px 65px 15px 15px;
    }
    .section-title-wrap_full {
        padding: 15px;
    }
    .section-title-wrap:after {
        border-top: 50px solid #fff;
        border-left: 50px solid transparent;
    }
    .route-maps-img {
        position: relative;
        top: 0;
        left: -15px;
        width: calc(100% + 30px);
        -webkit-transform: translate(0);
            -ms-transform: translate(0);
                transform: translate(0);
        margin-bottom: 40px;
    }
    .route-info {
        margin-bottom: 40px;
    }
    .events-cities-list__title span:after {
        margin-left: 2px;
        width: 7px;
        height: 14px;
    }
    .events-cities-list__title {
        font-size: 14px;
    }
    .events-cities-list__title span {
        margin-right: 2px;
    }
    .events-cities-list__item h4 {
        font-size: 16px;
    }
    .route-info__plan-item p, .events-cities-list__desc p {
        font-size: 14px;
    }
    .route-info__plan-item h4 {
        font-size: 20px;
    }
    .events-cities-list h4 span:after {
        display: none;
    }
    
    .events-cities-list h4 {
        text-decoration: underline;
                -webkit-text-decoration-color: #fecd1c;
                        text-decoration-color: #fecd1c;
    }
    .about-credits {
        padding: 15px;
        text-align: center;
    }
    .about-credits:before {
        display: none;
    }
    .header-title {
        display: block;
    }
    .header-info__img {
        height: auto;
    }
    .header-info__city {
        max-width: 100%;
        margin-bottom: 35px;
    }
    .header-info__date {
        margin-top: 0;
    }
    .header-credits {
        font-size: 20px;
    }
    .header-partners {
        max-width: 100%;
    }
    .header-partners span {
        text-align: center;
    }
    .header-partners__list {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .header-partners:not(:last-of-type) {
        margin-bottom: 45px;
    }
    .header-partners__item_info {
        margin-left: 0;
    }
}

@media (max-width: 360px) {
    .section-title-wrap_sub {
        background: rgb(169 167 167 / 74%) !important;
    }
    .participation-sub-list__title {
        font-size: 19px;
    }
}